<!--The content below is only a placeholder and can be replaced.-->
<div id="strip">
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand"><b> BSA Paper Presentation </b></span>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="home">Home</a></li>
      <li  routerLinkActive="active"><a routerLink="flow-chart">Flow Chart</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
